body {
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100%;
 background-color: black;
 font-size: 55px;
 font-family: Arial,Helvetica,sans-serif;
}
a.leave {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60%;
    border-radius: 5px;
    margin-right:200px;
}
a.next {
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #FC6264;
    border: none;
    color: white;
    padding: 80px 50px 80px 50px;
    text-align: center;
    display: flex;
    text-decoration: none;
    display: inline-block;
    font-size: 70%;
    border-radius: 100%;
    align-items: center;
}
a.final {
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    color: #FC6264;
    /* color: #1acc58; */
    padding: 100px 70px 100px 70px;
    text-align: center;
    display: flex;
    text-decoration: none;
    display: inline-block;
    font-size: 80%;
    border-radius: 100%;
    align-items: center;
}
